[Unit]
Description=Disable SELinux
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'if [[ "$(/sbin/getenforce)" != "Disabled" ]]; then /sbin/setenforce 0; fi'

[Install]
WantedBy=multi-user.target
